body{
    font-family:'Arial'
}
#main-heading{
    text-align: center;
}
.grid-container{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    row-gap: 10px;
    column-gap: 10px;
    align-items: center;
    margin-top: 10px;
}
#todoDel{
background-color: rgb(139, 12, 12);
color: white;
padding: 10px 0px;
border: none;
border-radius: 5px;
cursor:'pointer';
}
.todoAdd{
    background-color: rgb(3, 51, 96);
    color: white;
    padding: 10px 0px;
    border: none;
    border-radius: 5px;
    cursor:'pointer'; 
}
#task,date{
    font-size: 10px;
    padding: 10px 5px;
}